{{#partial "content"}}


<div class="col-md-5 me-0 justify-content-end text-center">
    <div style="font-family: 'Playfair Display SC', serif;" class="text-secondary">
        <h1 class="display-1 lead p-2 text-center">Douglas Fir <small>Forest Survey</small><br></h1>
        <h3>Track wildlife sightings in the area.<br></h3>
        <p class="lead">To do so you have to be a registered KWS ranger...<a href="/ranger/new" class="text-decoration-none ">Register now!</a></p>
    </div>
    <div class=" gap-2">
        <button class="btn btn-secondary"><a href="/animals" class="text-decoration-none">Sightings</a></button>
        <button class="btn btn-secondary"><a href="/animal/new" class="text-decoration-none">Record animal</a></button>
    </div>
</div>

    </div>

{{/partial}}
{{>layout.hbs}}